<a href="https://colab.research.google.com/github/raheelam98/DataAnalysis/blob/main/Python/Sessions/DA5_Python_Session_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While Loop

The while loop is used to repeatedly execute a block of code as long as a certain condition is true. It continues to execute the code within the loop until the condition becomes false. This is especially useful when the number of iterations is not predetermined.

**Syntax:**

while condition:

   \# Code to execute as long as the condition is true

- **while keyword:** This begins the while loop.
- **condition:** An expression that is evaluated before each iteration. The loop continues as long as this condition is True.
- **code block:** The set of statements that are executed repeatedly as long as the condition is True.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# i < 5

i = 0

while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [ ]:
# i < 5

i = 0

while i < 5:
  print(i)
  break

0

In [ ]:
# while True:
#   if condition1:
#     print("hello")

#   elif condition2:
#     break

In [ ]:
# i < 5

i = 0

while i < 5:
  print(i)
  i += 1      # i = i+1

0
1
2
3
4



**Question:** You are creating an ATM machine simulation. The machine should keep asking for the correct PIN until the user enters it correctly. The correct PIN is 1234.

In [ ]:
correct_pin = "1234"

pin_input = input("Enter your PIN: ")

while pin_input != correct_pin:
  print("Incorrect PIN :(")
  pin_input = input("Kindly! Enter your correct PIN: ")

else:
  print("You have entered a correct PIN :)")

Enter your PIN: 4
Incorrect PIN :(
Kindly! Enter your correct PIN: 5
Incorrect PIN :(
Kindly! Enter your correct PIN: ABC
Incorrect PIN :(
Kindly! Enter your correct PIN: as
Incorrect PIN :(
Kindly! Enter your correct PIN: h
Incorrect PIN :(
Kindly! Enter your correct PIN: k
Incorrect PIN :(
Kindly! Enter your correct PIN: t
Incorrect PIN :(
Kindly! Enter your correct PIN:
Incorrect PIN :(
Kindly! Enter your correct PIN: 1234

In [ ]:
correct_pin = 1234

pin_input = int(input("Enter your PIN: "))

while pin_input != correct_pin:
  print("Incorrect PIN :(")
  pin_input = input("Kindly! Enter your correct PIN: ")

else:
  print("You have entered a correct PIN :)")

Enter your PIN: 1234

In [ ]:
i = 1
while i <=5:
  j = 0
  while j < 10:
    print(f"{i} x {j} = {i*j}")
    j += 1

  print()
  i +=1

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

**Question:** Create a program to take input from user and continue the loop until user enters the numeric value

In [ ]:
while True:
  user_input = input("Enter a number: ")
  if user_input.isnumeric():
    user_input = int(user_input)
    print("You have entered a valid number. ")
    break
  else:
    print("Invalid input. Please enter a valid number.")

Enter a number: a
Invalid input. Please enter a valid number.
Enter a number: %
Invalid input. Please enter a valid number.
Enter a number: f
Invalid input. Please enter a valid number.
Enter a number: h
Invalid input. Please enter a valid number.
Enter a number: twenty
Invalid input. Please enter a valid number.
Enter a number: 5
You have entered a valid number.

In [ ]:
user_input = input("Enter a number: ")

while not user_input.isnumeric():
  print("Invalid input. Please enter a valid number.")
  user_input = input("Enter a number: ")

user_input = int(user_input)
print("You have entered a valid number. ")

Enter a number: a
Invalid input. Please enter a valid number.
Enter a number: f
Invalid input. Please enter a valid number.
Enter a number: ^
Invalid input. Please enter a valid number.
Enter a number: 5
You have entered a valid number.

In [ ]:
user_input = input("Enter a number: ")

while not user_input.isnumeric():
  print("Invalid input. Please enter a valid number.")
  user_input = input("Enter a number: ")

else:
  user_input = int(user_input)
  print("You have entered a valid number. ")



**Question:** You are developing a customer feedback system. The system is designed to ignore empty feedback for now, but you plan to implement this functionality later. Print all non-empty comments.

feedbacks = ["Great service!", "", "Could be better.", "", "Loved it!"]

In [ ]:
feedbacks = ["Great service!", "", "Could be better.", "", "Loved it!"]

i = 0
while i < len(feedbacks):
  if feedbacks[i]=="":
    pass
  else:
    print("A valid feedback: ",feedbacks[i])
  i +=1

A valid feedback:  Great service!
A valid feedback:  Could be better.
A valid feedback:  Loved it!

In [ ]:
for i in feedbacks:
  if i =="":
    pass
  else:
    print("A valid feedback: ",i)

A valid feedback:  Great service!
A valid feedback:  Could be better.
A valid feedback:  Loved it!

# Functions


A user-defined function is a block of code that performs a specific task. It can be reused multiple times by calling its name.

- built-in functions: print, len, int, str, list, range
- user-defined: defined by users



**Components**

- def keyword
- function name
- parameter enclosed in round brackets
- line of code

In [ ]:
def greetings(name):
  """
  This a function to greet or welcomes guests.
  Here name is a parameter.
  """

  print(f"Welcome,{name}! It's a pleasure to have you here.")
  print("We hope you have a fantastic time.")
  print("Feel free to explore and make yourself at home.")
  print("If you need any assistance, please don't hesitate to ask.")
  print("Enjoy your stay!")

In [ ]:
greetings("Mona")

Welcome,Mona! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

In [ ]:
help(greetings)

Help on function greetings in module __main__:

greetings(name)
    This a function to greet or welcomes guests.
    Here name is a parameter.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
guests = ["Asma","Azra","Amina","Husnain","rafia","Maimoona"]

for i in guests:
  greetings(i)
  print()

Welcome,Asma! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

Welcome,Azra! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

Welcome,Amina! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

Welcome,Husnain! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

Welcome,rafia! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

Welcome,Maimoona! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

## Arguments vs. Parameters

Parameters are placeholders that represent the inputs needed for a function, while arguments are the actual data provided to these inputs.

- **Parameters:** Variables defined in the function declaration that act as placeholders for the values passed to the function.
- **Arguments:** Actual values passed to the function when it is called.

In [ ]:
#def greetings(name) => here name is parameter

#greetings("Mona") = > Here Mona is argument

hello

## Print vs. Return

Create a function that returns the total sales for a product. You want the function to either display the result or return it for further use.

- **Print:** Displays the total sales, no further action.
- **Return:** Provides the value for further calculation or storage.

In [ ]:
def total_sales(quantity , price):
  sales = quantity * price
  print(sales)

In [ ]:
total_sales(8,100)

800

In [ ]:
print(total_sales(8,100))

800
None

In [ ]:
def total_sales(quantity , price):
  sales = quantity * price
  return sales

In [ ]:
cost = 600
sales = total_sales(8,100)
profit = sales - cost
profit

200

In [ ]:
print(total_sales(8,100))

800

**Examples using greeting function**

In [ ]:
def greetings(name):
  """
  This a function to greet or welcomes guests.
  Here name is a parameter.
  """

  print(f"Welcome,{name}! It's a pleasure to have you here.")
  print("We hope you have a fantastic time.")
  print("Feel free to explore and make yourself at home.")
  print("If you need any assistance, please don't hesitate to ask.")
  print("Enjoy your stay!")

In [ ]:
message = greetings("Mona")

Welcome,Mona! It's a pleasure to have you here.
We hope you have a fantastic time.
Feel free to explore and make yourself at home.
If you need any assistance, please don't hesitate to ask.
Enjoy your stay!

In [ ]:
print(message)

None

In [ ]:
def greetings(name):
  """
  This a function to greet or welcomes guests.
  Here name is a parameter.
  """
  return f"""Welcome,{name}! It's a pleasure to have you here.
  We hope you have a fantastic time.
  Feel free to explore and make yourself at home.
  If you need any assistance, please don't hesitate to ask.
  Enjoy your stay!"""

In [ ]:
message = greetings("Mona")

In [ ]:
message

"Welcome,Mona! It's a pleasure to have you here. \n  We hope you have a fantastic time.\n  Feel free to explore and make yourself at home.\n  If you need any assistance, please don't hesitate to ask.\n  Enjoy your stay!"

In [ ]:
print(message)

Welcome,Mona! It's a pleasure to have you here.
  We hope you have a fantastic time.
  Feel free to explore and make yourself at home.
  If you need any assistance, please don't hesitate to ask.
  Enjoy your stay!

## Positional Arguments

The order of arguments matters when calling the function.

**Calculating Gross Profit Margin**

In [ ]:
def gross_profit_margin(product_name, revenue, COGS):
  profit_margin = (revenue - COGS )/revenue * 100
  return f"The gross profit margin for {product_name} is {profit_margin}%"

In [ ]:
gross_profit_margin("Laptop", 1000, 600)

'The gross profit margin for Laptop is 40.0%'

In [ ]:
gross_profit_margin( 1000, 600, "Laptop")

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
def data(name, salary):
  salary += 500
  return f"Employee {name} has a salary of {salary}"

In [ ]:
data("maimoona",1000)

'data recorded'

In [ ]:
data(salary=1000,name="Maimoona")

'Employee Maimoona has a salary of 1500'

In [ ]:
data(1000,"maimoona")

TypeError: can only concatenate str (not "int") to str

In [ ]:
help(data)

Help on function data in module __main__:

data(name, salary)

In [ ]:
data(salary=500,name="Asma")

'data recorded'

In [ ]:
data(name="Asma",salary=500)

'data recorded'

## Default Parameters

Create a function to calculate bonus payments for employees. The bonus percentage can be adjusted, but defaults to 10%.

- **Function:** calculate_bonus(salary, bonus_percentage=10)

In [ ]:
def calculate_bonus(salary, bonus_percentage=10):
  bonus = salary * bonus_percentage/100
  return bonus

In [ ]:
calculate_bonus(1000,5)

50.0

In [ ]:
calculate_bonus(1000)

100.0

In [ ]:
def greetings(name= "Dear"):
  """
  This a function to greet or welcomes guests.
  Here name is a parameter.
  """
  return f"""Welcome,{name}! It's a pleasure to have you here.
  We hope you have a fantastic time.
  Feel free to explore and make yourself at home.
  If you need any assistance, please don't hesitate to ask.
  Enjoy your stay!"""

In [ ]:
greetings()

"Welcome,Dear! It's a pleasure to have you here. \n  We hope you have a fantastic time.\n  Feel free to explore and make yourself at home.\n  If you need any assistance, please don't hesitate to ask.\n  Enjoy your stay!"

In [ ]:
def sum(num1=0, num2=0):
  return num1 + num2

sum(5,6)

11

In [ ]:
sum(5)  # 5 + 0

5

## Args and Kwargs

- *Args: When number of arguments are not known. Used to pass a non-keyworded, variable-length argument list to a function.

- **kwargs is a special syntax used in function definitions to pass a variable number of keyword arguments to a function. It is often pronounced as "keyword arguments"

In [ ]:
def multiply_numbers(num1, num2, num3, num4):
  return num1 * num2 * num3 * num4

In [ ]:
multiply_numbers(5,4,3,1)

60

In [ ]:
#*args
# 5 6 7 8 9 1 2 3
args = [5,6,7,8,9,1,2,3 ]

result = 1
for i in args:
  result *=i

result

90720

In [ ]:
def text(*number):
  for i in number:
    print(i)

In [ ]:
text("A")

A

In [ ]:
text("A","b","c","d","e")

A
b
c
d
e

In [ ]:
def multiply_numbers(*number):
  result = 1
  for i in number:
    result *=i
  return result

In [ ]:
multiply_numbers(1,2,5,8,9,10,100,4,3)

8640000

In [ ]:
{"name":"maimoona"}

In [ ]:
def user_data(**kwargs):
  return kwargs

In [ ]:
user_data(name = "Maimoona",last_name="Khilji",age=23,location="Peshawar",Gender = "Female",Education="MS")

{'name': 'Maimoona',
 'last_name': 'Khilji',
 'age': 23,
 'location': 'Peshawar',
 'Gender': 'Female',
 'Education': 'MS'}

In [ ]:
names = []
def user_data(**kwargs):

  for key, value in kwargs.items():
    print(f"{key}: {value}")
    if key=="name":
      names.append(value)

  return names

In [ ]:
user_data(name = "Maimoona",last_name="Khilji",age=23,location="Peshawar",Gender = "Female",Education="MS")

name: Maimoona
last_name: Khilji
age: 23
location: Peshawar
Gender: Female
Education: MS

['Maimoona']

In [ ]:
user_data(name = "Maimoona",last_name="Khilji",age=23)

name: Maimoona
last_name: Khilji
age: 23

['Maimoona', 'Maimoona']

In [ ]:
user_data(name = "Asma",last_name="Khilji")

name: Asma
last_name: Khilji

['Maimoona', 'Maimoona', 'Asma']

In [ ]:
user_data(name = "Azra",last_name="Khilji",age=23,Education="MS")

name: Azra
last_name: Khilji
age: 23
Education: MS

['Maimoona', 'Maimoona', 'Asma', 'Azra']

In [ ]:
names

['Maimoona', 'Maimoona', 'Asma', 'Azra']

In [ ]:
def multiply_numbers(*number):
  result = 1
  for i in number:
    if str(i).isalpha():
      pass
    else:
      result *=i
  return result

In [ ]:
multiply_numbers(1,2,4,5,"a",3)

120

# Lambda

- Lambda functions are small functions defined using the lambda keyword.
- They are typically used for short, simple operations that don't require a full function definition.
- Syntax:
   - lambda arguments: expression
- Lambda functions can be useful in situations where you need a simple function for a short period of time, without needing to define a full function with a name.

In [ ]:
def sum(num1, num2):
  return num1+num2

**Calculate the sales tax for different items using a lambda function. `Expression: price * tax_rate**

In [ ]:
def calculate_tax_rate(price, tax_rate):
  return price * tax_rate


calculate_tax_rate(100, 0.05)

5.0

In [ ]:
sales_tax = lambda price, tax_rate: price * tax_rate
sales_tax(800,0.1)

80.0

**Calculate the total price after applying a discount using a lambda function.**

In [ ]:
total_price = lambda price, discount: price *(1-discount)

print(f"Total price {1000} after discount of {5}% is {total_price(1000,0.05)}.")

Total price 1000 after discount of 5% is 950.0.

In [ ]:
#lambda, filter, map, etc

def square_of_list(numbers):
  square_list =[]
  for i in numbers:
    square_list.append(i**2)
  return square_list

square_of_list([1,2,3,4])

[1, 4, 9, 16]

In [ ]:
square_list = list( map(lambda i: i**2,[1,2,3,4]))
square_list

[1, 4, 9, 16]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

# Exception Handling

In [ ]:
try:
 # Code block where exceptions may occur
 ...
except ExceptionType1:
 # Handle ExceptionType1
 ...
except ExceptionType2:
 # Handle ExceptionType2
 ...
else:
 # Optional block that executes if no exceptions are raised
 ...
finally:
 # Optional block that always executes, useful for cleanup actions

**Function to process a list of sales data and calculate the average sales**

In [ ]:
sum([1,2,3,4,5,6])

21

In [ ]:
def calculate_average(sales):
  total_sales = sum(sales)
  average = total_sales/len(sales)
  return average

In [ ]:
calculate_average([100,350,150,400,500,16])

252.66666666666666

In [ ]:
calculate_average([])

ZeroDivisionError: division by zero

## Zero Division Error

In [ ]:
def calculate_average(sales):
  try:
    total_sales = sum(sales)
    average = total_sales/len(sales)

  except ZeroDivisionError:
    return "You have entered an empty list of sales. It means the total sales = 0."

  else:
    return average

In [ ]:
calculate_average([])

'You have entered an empty list of sales. It means the total sales = 0.'

## TypeError

In [ ]:
def calculate_average(sales):
  try:
    total_sales = sum(sales)
    average = total_sales/len(sales)

  except ZeroDivisionError:
    return "You have entered an empty list of sales. It means the total sales = 0."

  except TypeError:
    return "You have entered an invalid sales value. Kindly Check your list."


  else:
    return average

In [ ]:
calculate_average([100,250,500,"ten"])

'You have entered an invalid sales value. Kindly Check your list.'

In [ ]:
calculate_average([100,250,500,10])

215.0

In [ ]:
def calculate_average(sales):
  try:
    total_sales = sum(sales)
    average = total_sales/len(sales)

  except:
    return "You have entered invalid. Kindly Check your list."


  else:
    return average

In [ ]:
calculate_average(["a",1,3,5])

'You have entered invalid. Kindly Check your list.'

In [ ]:
calculate_average([])

'You have entered invalid. Kindly Check your list.'

## Customize Error

In [ ]:
def divide(num1, num2):
  if num2==0:
    raise ValueError("Hello! Hope you are well. Your denominator value is Zero :(")
  return num1/num2

In [ ]:
divide(10,2)

5.0

In [ ]:
divide(5,0)

ValueError: Hello! Hope you are well. Your denominator value is Zero :(