<a href="https://colab.research.google.com/github/raheelam98/DataAnalysis/blob/main/Python/Sessions/DA5_Python_Session_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python**

- Python is a programming language.
- It's famous for Data tasks/jobs.
- This is a versatile language. We can use it for games, app or  web developmenet, data analysis, mahcine learning, deep learning or AI, or automation.
- It's user friendly
- It's syntax is similar to natural English language.

#### Basic Concepts

**Print or Display Text**

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("Welcome to DA5!!!")

Welcome to DA5!!!

In [ ]:
print(4+5)

9

In [ ]:
print("Welcome to DA5")
print("Hello Universe")

Welcome to DA5
Hello Universe

## Variables

- Variables are like container to store anything.

In [ ]:
Full_Name = "maimoona Khilji"

In [ ]:
Full_Name  #python is case sensitive

'maimoona Khilji'

To Run the cell:

- Cntrl + Enter
- Shift + Enter

In [ ]:
1+2

3

In [ ]:
Total_Sales = 800

In [ ]:
#1Total_Sales = 800
Total_sales9868  = 800

In [ ]:
Fullname@** = "a"

SyntaxError: invalid syntax (<ipython-input-24-de8c9177ba64>, line 1)

Variable name rules

- Use underscore in between the words
- avoid using extra characters
- never start variable name with numerical digits
- you can't add space between the words

In [ ]:
#Total sales
#$**Total_Sales@.
#124Fullname

In [ ]:
sales = 800

In [ ]:
full_name ="maimoona"

### Data Types

- representation of type of information we have in our variable

Types:
- Numerical ( int, float)
- text ( str)
- boolean (True or False)

- Sequence Data types (list, String, tuples)
- Unordered ( Dictionary and Set)

In [ ]:
data = 'Hello My name is Maimoona'
print(data)
print(type(data)) #str=> string



data = "Hello My name is Fatima"
print(data)
print(type(data)) #str=> string


data = '''Heyyyyyy
I am maimoona.
I teach Python.'''
print(data)
print(type(data)) #str=> string

Hello My name is Maimoona
<class 'str'>
Hello My name is Fatima
<class 'str'>
Heyyyyyy
I am maimoona.
I teach Python.
<class 'str'>

In [ ]:
print(type(data))

<class 'str'>

In [ ]:
age = 25
type(age)

int

In [ ]:
height = 5.1
print("My Height is", height, "The data type of this variable is:", type(height))

My Height is 5.1 The data type of this variable is: <class 'float'>

In [ ]:
sales = 98000
print("Total sales:", sales)

Total sales: 98000

In [ ]:
sales

98000

In [ ]:
Name, age, height, educated = "maimoona", 24, 5.1, True

In [ ]:
print("My Name is:",Name)
print("My Age is:",age)
print("My Height is:",height)
print("I am Educated:",educated)

My Name is: maimoona
My Age is: 24
My Height is: 5.1
I am Educated: True

In [ ]:
type(educated)

bool

In [ ]:
type("5")

str

In [ ]:
a = False
type(a)

bool

#### Data Type Conversion

##### String to Integer

In [ ]:
num = 100
num + 15

115

In [ ]:
num = 150
num + "5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = "5"
type(a),a

(str, '5')

In [ ]:
a = int(a)
type(a),a

(int, 5)

##### int to string

In [ ]:
a = 100
a,type(a)

(100, int)

In [ ]:
a = str(a)
a,type(a)

('100', str)

In [ ]:
zip_code = 25000
print(zip_code, type(zip_code))

25000 <class 'int'>

In [ ]:
zip_code = str(zip_code)
zip_code, type(zip_code)

('25000', str)

In [ ]:
sales = 25000
print(sales, type(sales))

25000 <class 'int'>

##### int to float

In [ ]:
sales = float(sales)

In [ ]:
sales, type(sales)

(25000.0, float)

##### "String with float data" to integer

In [ ]:
#Task: Convert "5.6" into integer


num = "5.6"
num = int(float(num))
num

5

In [ ]:
num = "5.6"
num = float(num)
num = int(num)
num

5

##### int to bool

In [ ]:
bool(0)

False

In [ ]:
bool(0)

False

In [ ]:
bool(100000)

True

In [ ]:
bool(-5.66)

True

##### String to bool

In [ ]:
bool("")

False

In [ ]:
bool(" ")

True

In [ ]:
bool("Maimoona")

True

False when
- numerical value = 0
- string is empty

True when
- numeical value is less than 0 or greater than zero ( not zero)
- string has one or more characters

## User Input

In [ ]:
Name = input("Enter your name: ")

Enter your name: Maimoona

In [ ]:
Age = input("Enter your age: ")

Enter your age: 23

In [ ]:
english = float(input("Enter your english marks: "))
math = float(input("Enter your math marks: "))
science = float(input("Enter your science marks: "))

Enter your english marks: 67
Enter your math marks: 45
Enter your science marks: 30

In [ ]:
obtained_marks = english + math + science
total_marks = 300

percentage = (obtained_marks / total_marks) * 100
print("Percentage is",percentage,"%")

Percentage is 47.333333333333336 %

In [ ]:
question = int(input("Do you want to continue:(answer: 0 or 1) "))

Do you want to continue:(answer: 0 or 1) 1

In [ ]:
type(question)

int

In [ ]:
bool(question)  # 0 refers False, 1 refers to True

True

## Expressions and Operators

### Arithmetic Operators

- Addition
- Subtraction
- Multiplication
- Division
- Floor
- Remainder

In [ ]:
a, b = 2, 10
#print("we have two numbers, num1 =", a ,"and num2 =", b)

print(f"we have two numbers, num1 = {a} and num2 = { b}")

we have two numbers, num1 = 2 and num2 = 10

In [ ]:
print(f"Addition: {a} + {b}  = {a+b}")
print(f"Subtraction: {a} - {b} = {a-b}")

Addition: 2 + 10  = 12
Subtraction: 2 - 10 = -8

In [ ]:
print(f"Multiplication {a} * {b} = {a*b}")
print(f"Division {b} / {a} = {b/a}")

Multiplication 2 * 10 = 20
Division 10 / 2 = 5.0

In [ ]:
a , b = 3, 10
print(f"Division {b} / {a} = {b/a}")

Division 10 / 3 = 3.3333333333333335

In [ ]:
print(f"Floor division {b} // {a} = {b//a}")

Floor division 10 // 3 = 3

In [ ]:
a = 3
b = 2

print(f"Remainder of {a} / {b} = {a%b}")

Remainder of 3 / 2 = 1

### Comparison operators

- Equal (==)
- Less than or equal (<=)
- Greater than or equal (>=)

In [ ]:
a = 10
b = 10

In [ ]:
a == b

True

In [ ]:
salary = float(input("Enter your salary: "))
salary > 50000

Enter your salary: 50000

False

In [ ]:
salary >= 50000

True

In [ ]:
Gpa = float(input("Enter your GPA: "))
Gpa >= 3.0

Enter your GPA: 3.9

True

In [ ]:
Gpa = float(input("Enter your GPA: "))

if  Gpa >= 3.0:
  print("Yes you are eligible")
else:
  print("Sorry you are not eligible")

Enter your GPA: 1.7
Sorry you are not eligible

### Logical operators

1. And
  - True  False   => False
  - False True    => False
  - False False   => Fasle
  - True  True    => True


2. Or
  - True  False   => True
  - False True    => True
  - False False   => False
  - True  True    => True




3. Not
  - Not True  => False
  - Not False => True

In [ ]:
experience = int(input("Experience years: "))
education = input("Education:(MS, BS, PhD) ")

# job criteria: experience >=2 and education BS
experience >= 2 and education in ["BS","MS"]

Experience years: 5
Education:(MS, BS, PhD) PhD

False

In [ ]:
experience = int(input("Experience years: "))
education = input("Education:(MS, BS, PhD) ")

# job criteria: experience >=2 or well educated
experience >= 2 or education in ["BS","MS","PhD"]

Experience years: 0
Education:(MS, BS, PhD) matric

False

In [ ]:
"Matric" not in ["BS","MS","PhD"]

True

In [ ]:
not 23 > 20

False

### Assignment Operators

In [ ]:
a = 10
a = 15
a

15

In [ ]:
a = 10
a = a + 5
a

15

In [ ]:
a = 10
a += 5  # a = a + 5
a

15

In [ ]:
a = 10
a *=2
a

20

In [ ]:
a = 10
a /= 5
a

2.0

# Task

- Ask user to enter his name, age, qualification and store each in different variable.

- Greet a user as Hello ____ ! (use the name variable here that was asked in above question)

- convert "7.8964" into int.

- Display the Remainder result of 90 divided by 13 using the print() function.

- Ask the user for an input, store it in a variable, and then display its data type.

- Ask the user for his height, store it in a variable, and check if it is > 6.1

- Consider total marks is 100, ask user for marks and find it's percentage

# Good Luck!