<a href="https://colab.research.google.com/github/raheelam98/DataAnalysis/blob/main/Python/Sessions/DA5_Python_Session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparison between if, elif, multiple ifs, and nested if

In [ ]:
students = ["Ahmad","Ali","usman","Asma","Usama"]

name = input("Enter student name: ")

if name in students:
  students.remove(name)
  print("We have removed student", name)
  print("Here is the updated students list:", students)

else:
  print(name,"not found in students list.")

Enter student name: Asma
We have removed student Asma
Here is the updated students list: ['Ahmad', 'Ali', 'usman', 'Usama']

In [ ]:
#IF-Elif-else
scores = int(input("Enter your score: "))

if scores >=90:
  print("A+")

elif scores >= 80:
  print("B+")

elif scores >= 70:
  print("C+")

elif scores>=60:
  print("D+")

else:
  print("F")

Enter your score: 40
F

In [ ]:
#Multiple IF's

num = int(input("Enter any digit: "))


if num >= 0:
  print(num,"is positive")


if num % 2 == 0:
  print(num,"is even")

else:
  print(num,"is odd")

Enter any digit: 4
4 is positive
4 is even

In [ ]:
#Multiple IF's

num = int(input("Enter any digit: "))


if num >= 0:
  print(num,"is positive")


elif num % 2 == 0:
  print(num,"is even")

else:
  print(num,"is odd")

Enter any digit: 4
4 is positive

In [ ]:
#Nested IF

scores = int(input("Enter your score: "))

if scores>=60:
  #print("Pass")
  if  scores >=90:
    print("A+")

  elif scores >= 80:
    print("B+")

  elif scores >= 70:
    print("C+")

  elif scores>=60:
    print("D+")

else:
  print("FAIL")

Enter your score: 31
FAIL

In [ ]:
num = int(input("Enter a digit: "))

if num%2 ==0 and num%3==0:
  print(num, "is divisible by both 2 and 3")

elif num%2 == 0:
  print(num,"is divisible by only 2")

elif num%3 == 0:
  print(num,"is divisible by only 3")

else:
  print(num,"is not divisble by 2 and 3")

Enter a digit: 9
9 is divisible by only 3

In [ ]:
items = ["Laptop","Mobile","tablet"]
prices = [1500, 1000]

if len(items)==len(prices):
  print(dict(zip(items, prices)))

else:
  print("kindly check if key and values have same count or not")

kindly check if key and values have same count or not

In [ ]:
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")
print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

**Range** generates a sequence of numbers.

In [ ]:
#variable[starting: ending: steps]

In [ ]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
list(range(0,100,1))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
[0,1,2,3,4,5,6,7,8,9]

In [ ]:
1. you have to check 10 papers (for)
2. check papers of all students (while)

# **Loop**
A loop allows you to execute a block of code multiple times. This is useful for automating repetitive tasks.

**Types of Loops:**

- **for Loop**: Iterates over a sequence.
- **while Loop**: Repeats as long as a condition is true.

## **For Loop**
The for loop is used to iterate over a sequence (such as a list or a string) and execute a block of code for each element in the sequence.

- **for keyword:** This begins the for loop.
- **variable:** A temporary variable that holds the current value of the item in the iterable on each iteration.
- **in keyword:** Used to specify the iterable over which the loop will iterate.
- **iterable:** A collection of elements, such as a list, tuple, string, or range, over which the loop will iterate.
- **code block:** The set of statements that are executed once for each item in the iterable.


**Using range()**
- The range() function generates a sequence of numbers, which is commonly used with for loops.
- **Syntax:**
for i in range(start, stop, step):

   \# code to execute for each value of i

  - **start:** The starting value of the sequence (inclusive).
  - **stop:** The end value of the sequence (exclusive).
  - **step:** The difference between each number in the sequence.

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,3):
  print("Hello!")

Hello!
Hello!

In [ ]:
for i in range(10):
  print("Reminder: To check the guest's list!")

Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!
Reminder: To check the guest's list!




**Iterating Over Lists**

You can use a for loop to iterate over each element in a list.

In [ ]:
guests = [ "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona"]

'Amna'

In [ ]:
len(guests)

7

In [ ]:
print("Hello,",guests[0],"!")
print("Hello,",guests[1],"!")
print("Hello,",guests[2],"!")
print("Hello,",guests[3],"!")
print("Hello,",guests[4],"!")
print("Hello,",guests[5],"!")
print("Hello,",guests[6],"!")

Hello, Amna !
Hello, Asma !
Hello, Aliyan !
Hello, usman !
Hello, Zahra !
Hello, Shaista !
Hello, Mona !

In [ ]:
guests = [ "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona", "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona", "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona", "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona"]

for i in guests:
  print(f"Hello, {i}!")

Hello, Amna!
Hello, Asma!
Hello, Aliyan!
Hello, usman!
Hello, Zahra!
Hello, Shaista!
Hello, Mona!
Hello, Amna!
Hello, Asma!
Hello, Aliyan!
Hello, usman!
Hello, Zahra!
Hello, Shaista!
Hello, Mona!
Hello, Amna!
Hello, Asma!
Hello, Aliyan!
Hello, usman!
Hello, Zahra!
Hello, Shaista!
Hello, Mona!
Hello, Amna!
Hello, Asma!
Hello, Aliyan!
Hello, usman!
Hello, Zahra!
Hello, Shaista!
Hello, Mona!

In [ ]:
guests = [ "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona", "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona", "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona", "Amna","Asma","Aliyan","usman","Zahra","Shaista","Mona"]

for i in range(0,len(guests)):
  print(i+1, "Hello,",guests[i],"!")

1 Hello, Amna !
2 Hello, Asma !
3 Hello, Aliyan !
4 Hello, usman !
5 Hello, Zahra !
6 Hello, Shaista !
7 Hello, Mona !
8 Hello, Amna !
9 Hello, Asma !
10 Hello, Aliyan !
11 Hello, usman !
12 Hello, Zahra !
13 Hello, Shaista !
14 Hello, Mona !
15 Hello, Amna !
16 Hello, Asma !
17 Hello, Aliyan !
18 Hello, usman !
19 Hello, Zahra !
20 Hello, Shaista !
21 Hello, Mona !
22 Hello, Amna !
23 Hello, Asma !
24 Hello, Aliyan !
25 Hello, usman !
26 Hello, Zahra !
27 Hello, Shaista !
28 Hello, Mona !

You are a restaurant manager. You have a list of dishes and their prices. Iterate over the list to display each dish with its price.

**Question:** Given the list menu = [("Pasta", 12), ("Burger", 8), ("Salad", 6)], write a for loop to print each dish and its price.

In [ ]:
menu = [("Pasta", 12), ("Burger", 8), ("Salad", 6)]
menu

[('Pasta', 12), ('Burger', 8), ('Salad', 6)]

In [ ]:
for i in menu:
  print(i)

('Pasta', 12)
('Burger', 8)
('Salad', 6)

In [ ]:
for dish, price in menu:
  print("Dish:",dish,"- Price:",price)

Dish: Pasta - Price: 12
Dish: Burger - Price: 8
Dish: Salad - Price: 6

In [ ]:
for i in menu:
  dish , price = i
  print("Dish:",dish,"- Price:",price)

Dish: Pasta - Price: 12
Dish: Burger - Price: 8
Dish: Salad - Price: 6

In [ ]:
price

12

In [ ]:
menu = [("Pasta", 12), ("Burger", 8), ("Salad", 6)]

for i in range(0,len(menu)):
  dish, price = menu[i]
  print("Dish:",dish,"- Price:",price)

Dish: Pasta - Price: 12
Dish: Burger - Price: 8
Dish: Salad - Price: 6

In [ ]:
#quiz
nums = [3, 6, 9]

for n in nums:
  print(n * 2)

6
12
18

In [ ]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

**Product Price Increase:**
- Write a program that given list of product prices and increases each price by 10%. Print the original and the new prices.

In [ ]:
100 + (100*0.1)

110.0

In [ ]:
Product_prices = [90,60,75,40,30,10,100,50]

for price in Product_prices:
  New_price = price + ( price*0.1)
  print("Original Price:",price, "New Price:",New_price)

Original Price: 90 New Price: 99.0
Original Price: 60 New Price: 66.0
Original Price: 75 New Price: 82.5
Original Price: 40 New Price: 44.0
Original Price: 30 New Price: 33.0
Original Price: 10 New Price: 11.0
Original Price: 100 New Price: 110.0
Original Price: 50 New Price: 55.0

In [ ]:
Product_prices = [90,60,75,40,30,10,100,50]
New_price_list = []

for price in Product_prices:
  New_price = price + ( price*0.1)
  New_price_list.append(New_price)
  print("Original Price:",price, "New Price:",New_price)

Original Price: 90 New Price: 99.0
Original Price: 60 New Price: 66.0
Original Price: 75 New Price: 82.5
Original Price: 40 New Price: 44.0
Original Price: 30 New Price: 33.0
Original Price: 10 New Price: 11.0
Original Price: 100 New Price: 110.0
Original Price: 50 New Price: 55.0

In [ ]:
Product_prices

[90, 60, 75, 40, 30, 10, 100, 50]

In [ ]:
New_price_list

[99.0, 66.0, 82.5, 44.0, 33.0, 11.0, 110.0, 55.0]


**Iterating Over Strings**

Strings are sequences of characters, and you can use a for loop to iterate over each character in a string.

In [ ]:
for i in "Maimoona":
  print(i)

M
a
i
m
o
o
n
a

You are developing a text analyzer tool. Iterate over a string and count the number of vowels in it.

**Question:** Write a for loop to count the vowels in the string "Data Analysis is Awesome!".

In [ ]:
vowels= "aeiou"


data = "Data Analysis is Awesome!"

counter = 0
for i in data.lower():
  if i in vowels:
   # print("Vowels:",i)
    counter +=1

print("Total count of vowels is:",counter)

Total count of vowels is: 10

### Loop with Conditions

**Question:** Identifying Fruits that Start with 'A'

In [ ]:
"Maimoona".startswith("A")

False

In [ ]:
"Maimoona"[0]=="M"

True

In [ ]:
fruits = ["Kiwi","Apple","Banana","Apricot","Orange"]

for fruit in fruits:
  if fruit.startswith("A"):
    print(fruit)

Apple
Apricot

In [ ]:
fruits_A = []

fruits = ["Kiwi","Apple","Banana","Apricot","Orange"]

for fruit in fruits:
  if fruit.startswith("A"):
    fruits_A.append(fruit)

fruits_A

['Apple', 'Apricot']

**Enumerate**

In [ ]:
fruits = ["Kiwi","Apple","Banana","Apricot","Orange"]

for fruit in fruits:
  print(fruit)

Kiwi
Apple
Banana
Apricot
Orange

In [ ]:
fruits = ["Kiwi","Apple","Banana","Apricot","Orange"]

for i in range(0,len(fruits)):
  print(i,fruits[i])

0 Kiwi
1 Apple
2 Banana
3 Apricot
4 Orange

In [ ]:
for index, value in enumerate(fruits, start=1):
  print(index, value)

1 Kiwi
2 Apple
3 Banana
4 Apricot
5 Orange

Enumerate: returns index + value

Simple loop:  returns value only. For index, you have to use ranges instead of direct list.

You are tracking daily temperatures and want to identify the days when the temperature was above 30°C.

**Question:** Given the list temperatures = [28, 32, 31, 29, 35, 36, 30], write a for loop to print only the days when the temperature was above 30°C.

In [ ]:
temperatures = [28, 32, 31, 29, 35, 36, 30]

for day, temp in enumerate(temperatures, start=1):

  if temp > 30:
    print("Day:",day,"- Temperature:",temp)

Day: 2 - Temperature: 32
Day: 3 - Temperature: 31
Day: 5 - Temperature: 35
Day: 6 - Temperature: 36

### Keywords: Break, pass, continue

#### Break Statement
The break statement terminates the loop immediately when encountered.

In [ ]:
for i in range(0,10):
  if(i==6):
    break
  print(i)

0
1
2
3
4
5

You are searching for a specific book in a library's list of books. If you find it, you want to stop searching immediately.


**Question:** Given the list

books = ["Data Science", "Machine Learning", "Python Programming", "Artificial Intelligence"],

write a for loop to search for "Python Programming" and stop once found.

In [ ]:
books = ["Data Science", "Machine Learning", "Python Programming", "Artificial Intelligence"]
books

['Data Science',
 'Machine Learning',
 'Python Programming',
 'Artificial Intelligence']

In [ ]:
for book in books:
  if book == "Python Programming":
    print("I found this book",book)
    break

I found this book Python Programming

#### Continue Statement
The continue statement skips the current iteration and moves to the next iteration of the loop.

You are processing a list of sales data. If a sale value is negative, skip it (indicating a return or refund).

**Question:** Given the list sales = [200, -50, 300, -20, 150], write a for loop to calculate the total sales, skipping negative values.

In [ ]:
sales = [200, -50, 300, -20, 150]

total_sales = 0

for i in sales:
  if i<0:
    continue
  total_sales += i
  print(i)

print("Total sales=",total_sales)

200
300
150
Total sales= 650

In [ ]:
#pass
scores_list = [100,98,90,76,50,90,40,31]

for scores in scores_list:
  if scores >=90:
    pass
    #print("A+")

  elif scores >= 80:
    print("B+")

  elif scores >= 70:
    print("C+")

  elif scores>=60:
    print("D+")

  else:
    print("F")

A+
A+
A+
C+
F
A+
F
F

#### Pass Statement
The Pass does nothing. It is used as a placeholder only.

You are creating a program to check a list of items, but you haven't yet implemented the functionality for certain items. Use the pass statement as a placeholder.

**Question:** Iterate over the list items = ["apple", "banana", "grape", "orange"]. Print each item except "grape" (use pass for "grape").

In [ ]:
items = ["apple", "banana", "grape", "orange"]

for i in items:
  if i =="grape":
    pass
  else:
    print(i)

apple
banana
orange

**Differentiating pass and continue**

You are developing a system to process user data. You have a list of user ages. For certain ages, like those below 10, you haven't decided how to handle them yet, so you'll use pass. For ages that are negative (which is invalid), you want to skip processing entirely using continue.

**Question:** Given the list ages = [25, -5, 12, 8, 34, -1, 15], use a for loop to print each valid age. Use pass for ages below 10 (indicating you need to handle these cases later) and continue for negative ages to skip them.

In [ ]:
ages = [25, -5, 12, 8, 34, -1, 15]

for age in ages:
  if age < 10 and age>0:
    pass

  elif age < 0:
    continue

  print(age)

25
12
8
34
15

### Nested Loops
Nested loops are loops within loops. They are useful for performing repeated actions on a multidimensional scale.

In [ ]:
for i in range(1,11):
  print("2 x ",i,"=",2*i )

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20

In [ ]:
for i in range(1,11):
  print(f"2 x {i} = {2*i} ")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
for i in range(1,6):
  print(f"{i}'s Table")
  for j in range(1,11):
    print(f"{i} x {j} = {i*j} ")
  print()

1's Table
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2's Table
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3's Table
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4's Table
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5's Table
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Inventory Management for a Clothing Store

- We have a list of clothing categories and a list of sizes for each category.
- We want to create a complete inventory list showing each item with its category and size.

In [ ]:
items = ["shirt", "pant","Jacket"]
sizes = [ "small","medium","large"]

for item in items:
  for size in sizes:
    print(f"{item} is available in {size} size.")

shirt is available in small size.
shirt is available in medium size.
shirt is available in large size.
pant is available in small size.
pant is available in medium size.
pant is available in large size.
Jacket is available in small size.
Jacket is available in medium size.
Jacket is available in large size.

In [ ]:
help(str.startswith)

Help on method_descriptor:

startswith(...) unbound builtins.str method
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### For Loop - else

You are a security officer checking if a list of visitors has any blacklisted individuals. If no blacklisted visitor is found, you want to print a message that all visitors are safe.

**Question:** Given the list visitors = ["Jawad", "Danial", "Aliyan","Usman"] and the blacklist blacklist = ["Bilal", "Danish"], write a for loop to check if any visitor is blacklisted. If none are found, print a message saying, "All visitors are cleared."

In [ ]:
visitors = ["Jawad", "Danial", "Aliyan","Danish","Usman"]
blacklist = ["Bilal", "Danish"]

for visitor in visitors:
  if visitor in blacklist:
    print(f"Visitor {visitor} is in blacklist")
    break

else:
  print("All visitors are cleared.")

Visitor Danish is in blacklist

In [ ]:
visitors = ["Jawad", "Danial", "Aliyan","Usman"]
blacklist = ["Bilal", "Danish"]

for visitor in visitors:
  if visitor in blacklist:
    print(f"Visitor {visitor} is in blacklist")
    break

else:
  print("All visitors are cleared.")

All visitors are cleared.

In [ ]:
for i in range(0,5):
  print(i)
  if i==9:
    break

else:
  print("hello")
  print("The end!")

0
1
2
3
4
hello
The end!

In [ ]:
# Another Example
# Find book in the list, if found, return else print("Not found in the list")
library = ["Data Science", "Machine Learning", "Python Programming", "Artificial Intelligence"]

for book in library:
  if book == "Atomic Habits":
    print("I found this book",book)
    break

else:
  print("Not found in the library")

Not found in the library

In [ ]:
# Another Example
# Find book in the list, if found, return else print("Not found in the list")
library = ["Data Science", "Machine Learning", "Python Programming", "Artificial Intelligence"]

for book in library:
  if book == "Python Programming":
    print("I found this book",book)
    break

else:
  print("Not found in the library")


# It will return "found this book" and as loop interrupted (not completed fully) so Else will not run

I found this book Python Programming

# **Task**

### **1. Send Invitation to Friends**

You have a list of 5 friends. Use a loop to print an invitation message to each.

friends = ["Ali", "Sara", "Hassan", "Ayesha", "Zain"]

```
Sample Output:

Hey, Ali! I hope you are well. Ali, you're warmly invited to celebrate my birthday.

```


### **2. Check Who Can Vote**

Given a list of ages, print "Eligible to vote" for ages 18 or above.

```
Sample Output:

Not eligible
Eligible
Not eligible
Eligible
```

In [ ]:
ages = [15, 22, 17, 30]


---

### **3. First Item Out of Stock**

Go through a list of items in a store. If you find `"out of stock"`, stop checking`.

```
Sample Output:

Checking: Milk
Checking: Bread
Checking: Eggs
Checking: Out of stock
Item not available. Stopping...
```

In [ ]:
items = ["Milk", "Bread", "Eggs", "Out of stock", "Butter", "Juice"]

### **4. Skip Weekends**

You want to print “Working day” for weekdays only. Skip "Saturday" and "Sunday".

```
# Sample Output:
# Monday is a working day.
# Tuesday is a working day.
# Wednesday is a working day.
```

In [ ]:
days = ["Monday", "Tuesday", "Saturday", "Sunday", "Wednesday"]

### **5. Placeholder for Future Code**


You’re building an app. You want to skip code for `"Settings"` for now.

```
# Sample Output:
# Opening Home
# Opening Profile
# Opening Logout
```

In [ ]:
menu = ["Home", "Profile", "Settings", "Logout"]


### **6. Restaurant Table Bookings**

Print all table bookings for 2 days (Monday and Tuesday), with 3 tables each.

```
# Sample Output:
# Monday - Table 1 booked
# Monday - Table 2 booked
# ...
```

In [ ]:
days = ["Monday", "Tuesday"]
tables = [1, 2, 3]

### **7. Check Name in Guest List**

Check if your friend "Mona" is in the guest list. If found, print "Mona is coming". Otherwise, "Mona is not invited".

```
# Sample Output:
# Mona is not invited
```

In [ ]:
guests = ["Ali", "Sara", "Hassan"]

**RM Notes**

In [1]:
names = ['Raheela', 'Asma', 'Jamal', 'Hassan']

for name in names:
  print(f'Hello {name}')

Hello Raheela
Hello Asma
Hello Jamal
Hello Hassan

###  **range(start, stop(not included), step)**

In [9]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [13]:
for i in range(0, 10, 2):
    print(i, end=" ")
print()

0 2 4 6 8

In [22]:

names = ['Raheela', 'Asma', 'Jamal', 'Hassan']

for name in range(len(names)):
  print(f'Hello {names[name]} !')

Hello Raheela !
Hello Asma !
Hello Jamal !
Hello Hassan !

In [33]:
names = ['Raheela', 'Asma', 'Jamal', 'Hassan',"Ali", "Sara"]

for name in range(1,len(names)):
  print(name, "Hello", names[name],"!")

1 Hello Asma !
2 Hello Jamal !
3 Hello Hassan !
4 Hello Ali !
5 Hello Sara !